$black: #333;
$green: #3ECF8E;
$light-grey: #F3F5F7;
$mid-grey: #FDFDFD;
$grey: #CDD2D7;
$shadow-grey: #DADADA;

$primary-color: $green;
$background-grey: $light-grey;
$border-color: $grey;
$shadow-border: $shadow-grey;

$default-font-size: 16px;
$text-grey: #A1AEB7;

$error-color: #cc0000;
